body{
  background-image: url(assets/images/sky.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  flex-direction: column;
}

.initialBoxState{
  margin-block: 14rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: rgba(22, 22, 19, 0.63);
  text-align: center;
  border-radius: 10px;
}

.box{
  transition: 300ms;
  margin-block: 2rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: rgba(22, 22, 19, 0.63);
  text-align: center;
  border-radius: 10px;
}

.cityInput{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.magnifier:hover{
  stroke: black;
}

.infoWeatherPar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherInfoList{
  display: flex;
  justify-content: center;
  align-items: center ;
}

.iconInfoList{
  margin-right: 1rem;
}

.infoBoxList{
  margin-block: 1rem;
  border: 1px solid;
  border-radius: 10px;
}

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

